google-cloud-aiplatform[adk]>=v1.125.0
python-dotenv
google-adk
immutabledict
sqlglot
db-dtypes
regex
tabulate
google-cloud-aiplatform[adk,agent-engines]
absl-py
pydantic
pandas
numpy
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
langchain-community==0.3.28
wikipedia==1.4.0
crewai==0.95.0
crewai-tools==0.33.0
dateparser==1.2.2
pandas==2.2.3
litellm==1.83.0